.form {
  position: absolute;
  width: 23%;
  top: 77.5%;
  left: 20%;
}

.input__search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(6px, 2.6vw, 1rem);
  box-shadow: 3px 2px 0 rgb(154, 154, 154), 5px 4px 0 #333
}

@media (max-width: 725px) {
  .form {
    position: absolute;
    width: 32%;
    top: 77.5%;
    left: 9.5%;

  }

}