.container {
  padding: 0 2rem;
}

.main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}

.logo {
  align-items: center;
}

.pokedex {

  width: 100%;
  max-width: 549px;

}

.pokemon__img {
  position: absolute;
  bottom: 44%;
  left: 40.5%;
  transform: translate(-110%, 55%);
  height: 13%;
  width: 13%;
}

.pokemon__data {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: 63.5%;
  right: 59%;
  font-size: clamp(10px, 3.5vw, 19px);
}

.pokemon__name {
  color: #3a444d;
  text-transform: capitalize;
}

.pokemon__type {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: -400%;
  left: 250%;
  font-size: clamp(10px, 3.5vw, 19px);
}



@media (max-width: 450px) {
  .pokemon__data {
    top: 65%;
    right: 60%;
    font-size: clamp(6px, 3vw, 13px);

  }
}

  @media (max-width: 390px) {
    .pokemon__img {
      bottom: 45%;
      left: 33%;
      transform: translate(-79%, 60%);
      height: 13%;

    }
  }
  
  @media (max-width: 450px) {
    .pokemon__type {
      position: absolute;
      font-weight: 600;
      color: #aaa;
      top: -700%;
      left: 220%;


    }
  


}